<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsc.servicedata.mapper.MyLogMapper">

    <insert id="insertLog" parameterType="model.log.Operation">
        INSERT INTO operation (id,userId,userName,`type`,url,operation,createTime,remark)
        VALUES (#{id},#{userId},#{userName},#{type},#{url},#{operation},#{createTime},#{remark})
    </insert>
</mapper>